$font-primary: (
	font-family: (
		Heebo,
		sans-serif
	),
	load: true,
	weights: (
		'Black': 900,
		'Light': 300,
	),
	font-weights: true,
	path: '~Fonts',
	files: (
		'woff',
		'woff2'
	),
	use: (
		'* body'
	),
	types: (
		'normal',
	),
	display: 'swap'
);
