
$grid-parts: (
	"full": 1,
	"half": 1/2,
	"third": 1/3,
	"two-third": 2/3,
	"quarter": 1/4,
	"three-quarter": 3/4,
	"fifth": 1/5,
	"two-fifth": 2/5,
	"three-fifth": 3/5,
	"four-fifth": 4/5,
	"sixth": 1/6,
	"five-sixth": 5/6
) !default; //

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	&.center {
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.column {
	@each $grid-name, $grid-value in $grid-breakpoints {
		$query: 'only screen and (min-width: 0px)';
		@if $grid-name != 'small' {
			$query: map-get($media-queries, '#{$grid-name}-up');
		}
		@for $grid-column from 0 to $grid-columns + 1 {
			$percentage: (100% / 24 * $grid-column);
			&.#{$grid-name}-#{$grid-column} {
				@media #{$query} {
					width: $percentage;
				}
			}
		}
		@each $part, $value in $grid-parts {
			&.#{$grid-name}-#{$part} {
				@media #{$query} {
					width: $value * 100%;
				}
			}
		}
	}
}
