$colors: $default-color-set;
@if variable-exists(custom-colors) {
	$colors: $custom-color-set;
}

@each $color, $value in $colors {
	.background--#{to-lower-case($color)} {
		background: color($color);
	}
	.color--#{to-lower-case($color)} {
		color: color($color);
	}
	.border--#{to-lower-case($color)} {
		border-color: color($color);
	}
}
