<% if (smoothscroll == 'true') { %>
[data-lazy-load] {
	opacity: 0;
	transition: opacity 0.4s ease-out;
	&.is-loaded {
		opacity: 1;
	}
}


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

// *	 {
// 	-ms-overflow-style: none;  /* IE and Edge */
// 	scrollbar-width: none;  /* Firefox */
// 	&::-webkit-scrollbar {
// 		display: none;
// 	}
// }	
<% } %>
