<% if (smoothscroll == 'true') { %>
[data-lazy-load] {
	opacity: 0;
	transition: opacity 0.4s ease-out;
	&.is-loaded {
		opacity: 1;
	}
}

*	 {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
}	
<% } %>
