.wp-block {
	max-width: 1024px;

	&.block-editor-block-list__block {
		&::before {
			content: attr(data-title);
			display: block;
			background: #e3e3e3;
			color: #252525;
			padding: 0.25rem 0.75rem;
			font-size: 0.75rem;
			width: max-content;
			text-transform: uppercase;
		}
	}
}

p.description {
	font-size: 10px !important;
}

.block-editor-block-types-list__item-icon {
	padding: 0;
	width: unset;
	height: unset;

	.block-editor-block-icon {
		width: unset;
		height: unset;
	}

	svg {
		border: 1px solid #aaa;
		padding: 0;
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: none;
	}
}


.file-icon {
	img:not([src*="/media/video.png"]) {
		position: relative;
		top: rem(-10);
		left: rem(-10);
		max-width: rem(68) !important;
		height: rem(85);
		object-fit: cover;
		margin-right: rem(-20) !important;
	}
}