$font-primary: (
	font-family: (sans-serif),
	load: true,
	weights: (
		'Regular': 400,
		'Medium': 500,
		'Bold': 600
	),
	font-weights: true,
	path: '../../fonts',
	files: (
		'woff',
		'woff2',
		'ttf'
	),
	use: (
		'h1',
		'p',
		'body'
	),
	types: (
		'normal',
		'italic'
	)
);
