@function grid($value) {
	$values: null;
	@if length($value) > 1 {
		@each $size in $value {
			$v: calc-grid($size);
			$values: $values #{$v};
		}
	} @else {
		$values: calc-grid($value);
	}
	@return $values;
}


@function calc-grid($value) {
	$calculation: (100 / $grid-columns) * $value;
	@return unquote("#{$calculation}vw");
}


@function rem-calc($value, $base-value: $base-font-size) {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;
	@if ($value == 0rem) {
		$value: 0;
	} // Turn 0rem into 0
	@return $value;
}

@function rem($values) {
	$sizes: null;

	@if length($values) > 1 {
		@each $size in $values {
			@if $sizes == null {
				$sizes: #{rem-calc($size)};
			} @else {
				$sizes: $sizes #{rem-calc($size)};
			}
		}
	} @else {
		$sizes: rem-calc($values);
	}

	@return $sizes;
}
