
$grid-columns: 24;
// important for rem calculations
$base-font-size: 16px !default;

$grid-breakpoints: (
	small: 750,
	medium: 1024,
	mediumlarge: 1280,
	large: 1440,
	xlarge: 1600,
	xxlarge: 1920
);

$color-default: (
  'Dark': #000000,
	'Light': #ffffff,
	'Yellow': #ffcc00
) !default;
